@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap');

:root{
    --color: hsl(55, 94%, 53%);
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background: var(--color);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

html::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--color);
}

section{
    padding: 3rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 1rem;
}

.heading h3{
    font-size: 4rem;
    color: var(--color);
    font-family: 'Merienda One', cursive;
}

.sub-heading{
    background: url(images/heading-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 16rem;
    padding-bottom: 8rem;
}

.sub-heading h1{
    color: var(--color);
    font-size: 4rem;
    font-family: 'Merienda One', cursive;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid var(--color);
    color: var(--color);
    cursor: pointer;
}

.btn:hover{
    background: var(--color);
    color: #fff;
}


/* header */

.header{
    position: absolute;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: linear-gradient(to right, var(--color) 75%, white 25%);
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #222;
}

.header .logo i{
    color: var(--color);
}

.header .navbar a{
    font-size: 4rem;
    margin: 0 1rem;
    color: #222;
}

.header .navbar a.active{
    color: rgba(199, 127, 46, 0.968);
}

.header .navbar a:hover{
    color: rgba(199, 127, 46, 0.968);
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border: .1rem solid var(--color);
    color: black;
    border-radius: .5rem;
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    background: var(--color);
    color: #fff;
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 110%; right: -110%;
    width: 50rem;
    height: 5rem;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header .search-form.active{
    right: 2rem;
    transition: .4s linear;
}

.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--color);
    padding: 0 1.5rem;
}

.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--color);
    cursor: pointer;
}

/* end */

/* shopping cart */

.header .shopping-cart{
    position: absolute;
    top: 110%; right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    background: #fff;
    box-shadow: var(--box-shadow);
    width: 35rem;
}

.header .shopping-cart.active{
    right: 2rem;
    transition: .4s linear;
}

.header .shopping-cart .box{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    position: relative;
    margin: 2rem 0;
}

.header .shopping-cart .box img{
    height: 7rem;
}

.header .shopping-cart .box .fa-trash{
    font-size: 2rem;
    position: absolute;
    top: 50%; right: 2rem;
    cursor: pointer;
    color: #666;
    transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover{
    color: var(--color);
}

.header .shopping-cart .box .content h3{
    color: var(--color);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span{
    color: #666;
    font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity{
    padding-left: 1rem;
}

.header .shopping-cart .total{
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--color);
}

.header .shopping-cart .btn{
    display: block;
    text-align: center;
    margin: 1rem;
}

/* end */

/* login */

.header .login-form{
    position: absolute;
    top: 110%; right: -110%;
    width: 35rem;
    background: #fff;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    text-align: center;
}

.header .login-form.active{
    right: 2rem;
    transition: .4s linear;
}

.header .login-form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--color);
}

.header .login-form .box{
    width: 100%;
    margin: .7rem 0;
    background: none;
    border: .1rem solid var(--color);
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--color);
    text-transform: none;
}

.header .login-form p{
    font-size: 1.4rem;
    padding: .5rem 0;
    color: #666;
}

.header .login-form p a{
    color: var(--color);
    text-decoration: underline;
}

.header .login-form .btn{
    background: none;
}

.header .login-form .btn:hover{
    background: var(--color);
}

/* end */

/* banner */
.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    overflow: hidden; /* Ensure content doesn't overflow on smaller screens */
}

.banner {
    text-align: center;
    background-color: #f5f5f5;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%; /* Adjust maximum width for smaller screens */
}

.banner h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.banner p {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

/* end */

/* offer */

.offer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 2rem;
    overflow: hidden; /* Ensure content doesn't overflow on smaller screens */
}

.offer-item {
    text-align: center;
    background-color: #f5f5f5;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%; /* Adjust maximum width for smaller screens */
}

.offer-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.offer-item h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.offer-item p {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}
/* end */

/* index us */

.index{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.index .image{
    flex: 1 1 40rem;
}

.index .image img{
    width: 100%;
}

.index .content{
    flex: 1 1 40rem;
}

.index .content h3{
    font-size: 4.5rem;
    color: var(--color);
    font-family: 'Merienda One', cursive;
    padding-bottom: 1rem;
}

.index .content p{
    padding: 1rem 0;
    line-height: 2;
    font-size: 1.5rem;
    color: #666;
}

/* index us end */

/* coffee base */

.base .box-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.base .box-container .image{
    flex: 1 1 40rem;
}

.base .box-container .image img{
    width: 100%;
}

.base .box-container .container{
    flex: 1 1 40rem;
    display: flex;
    flex-direction: column;
}

.base .box-container .container .item{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.base .box-container .container .item .content{
    margin-left: 2rem;
}

.base .box-container .container .item .content h3{
    font-size: 2.2rem;
    color: var(--color);
}

.base .box-container .container .item .content p{
    margin: .5rem 0;
    font-size: 1.5rem;
    line-height: 1.6;
}


/* end */

/* story */

.story .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.story .box-container .box{
    border: .1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 3rem 2rem;
}

.story .box-container .box .image{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.story .box-container .box .image .user{
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    object-fit: cover;
}

.story .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--color);
}

.story .box-container .box h4{
    font-size: 1.4rem;
    color: #222;
}

.story .box-container .box .stars{
    margin-top: 1.2rem;
}

.story .box-container .box .stars i{
    font-size: 1.5rem;
    color: gold;
}

.story .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: #666;
    padding-top: 1.5rem;
}


/* end */

/* contact */

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}

.contact .row form{
    padding: 2rem;
    border: .1rem solid rgba(0,0,0,.1);
    flex: 1 1 40rem;
    border-radius: .5rem;
}

.contact .row form h3{
    font-size: 2.5rem;
    padding-bottom: 1rem;
    color: var(--color);
}

.contact .row form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact .row form .inputBox input{
    width: 49%;
}

.contact .row form .inputBox .box,
.contact .row form textarea{
    padding: 1rem 1.2rem;
    font-size: 4rem;
    border: .1rem solid rgba(0,0,0,.1);
    color: #222;
    text-transform: none;
    margin: .7rem 0;
    border-radius: .5rem;
}

.contact .row form textarea{
    width: 100%;
    height: 15rem;
    resize: none;
}

.contact .row form .btn{
    background: none;
}

.contact .row form .btn:hover{
    background: var(--color);
}

.contact .row .map{
    flex: 1 1 40rem;
}

/* end */


/* footer */

.footer {
    background-color: #333;
    color: #fff;
    padding: 4rem 0;
    overflow: hidden; /* Ensure content doesn't overflow on smaller screens */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: hidden; /* Ensure content doesn't overflow on smaller screens */
}

.footer-section {
    width: 90%; /* Adjust width for smaller screens */
    padding: 0 2rem;
    margin-bottom: 2rem; /* Add margin between sections for better spacing on smaller screens */
}

.footer-section h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.footer-section p {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 1rem;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
}

.footer-section ul li a:hover {
    color: #ffcc00;
}

.contact-form textarea {
    height: 120px;
}

.footer-bottom {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.4rem;
}





/* media query*/

@media (max-width:991px){

    html{
        font-size: 55%;
        overflow-x: hidden;
    }

    .header{
        padding: 2rem;
    }

    section{
        padding: 3rem;
    }
    
}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }
     html{
        overflow-x: hidden;

    .header .navbar{
        position: absolute;
        top: 110%; right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        background: #fff;
        border-radius: .5rem;
    }

    .header .navbar.active{
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }

    .index{
        background-position: left;
        justify-content: center;
    }

    .index .content h3{
        font-size: 3rem;
    }

}

@media (max-width:450px){
    html{
        font-size: 50%;
        overflow-x: hidden;
    }
}
/* Banner Section */
.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.banner {
    text-align: center;
    background-color: #f5f5f5;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

.banner h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.banner p {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

/* Offer Section */
.offer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 2rem;
}

.offer-item {
    text-align: center;
    background-color: #f5f5f5;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

.offer-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.offer-item h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.offer-item p {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

/* Footer Section */
.footer {
    background-color: #333;
    color: #fff;
    padding: 4rem 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-section {
    width: 30%;
    padding: 0 2rem;
}

.footer-section h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.footer-section p {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 1rem;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
}

.footer-section ul li a:hover {
    color: #ffcc00;
}

.contact-form textarea {
    height: 120px;
}

.footer-bottom {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.4rem;
}
